@use "../../../styles/core.module.scss" as core;

.card {
    --gradient-degree: 120deg;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(120deg, core.$color-secondary-highlighted, core.$color-secondary, core.$color-secondary-highlighted);
    background: linear-gradient(var(--gradient-degree), core.$color-secondary-highlighted, core.$color-secondary, core.$color-secondary-highlighted);
    color: core.$color-primary-font;
    padding: core.getDimensionValue(1);
    margin: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    transition: transform 250ms ease-in-out,
        --gradient-degree 250ms linear;

    &.hover:not(:disabled) {
        &:hover {
            --gradient-degree: 120deg;

            cursor: pointer;
            // transform: scale(1.02);
            // transform-origin: center;
            animation: core.$secondary-background-color-shimmer 3s 0s infinite linear;
            background: linear-gradient(var(--gradient-degree), core.$color-secondary-highlighted, core.$color-secondary, core.$color-secondary-highlighted);
        }
    }

    .wrapper {
        background-color: core.$color-primary;
        padding: core.getDimensionValue(1);
        height: 100%;
        width: 100%;
    }
}
