@use "../../../styles/core.module.scss" as core;
@use "sass:color";

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(45deg, core.$color-secondary-highlighted, core.$color-secondary, core.$color-secondary-highlighted);
    color: core.$color-primary-font;
    padding: core.getDimensionValue(1);
    margin: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    transition: transform 250ms;

    &.hover:not(:disabled) {
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            transform-origin: center;
        }
    }

    .wrapper {
        background-color: core.$color-primary;
        padding: core.getDimensionValue(1);
        height: 100%;
        width: 100%;
    }
}
