@use "../../styles/core.module.scss" as core;

.sermons {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: core.$size-breakpoint-small;

    .entries {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
