POSTGRES_URL="postgresql://[user]:[password]@localhost:[port]/gemeinde-der-fels-de?schema=public"

GDF_JWT_SIGNING_SECRET=""

GDF_FILES_FOLDER=""

# Use 1 to replace existing data, otherwise only insert data in empty databases
GDF_DEV_DATABASE_REPLACE_EXISTING_DATA="0"

# Use feature flags defined in typings.ts, seperated by a comma.
# - Use * to set all flags.
# - Use ! to negate a flag or the * option.
NEXT_PUBLIC_GDF_FEATURE_FLAGS="!*"

# Same as "NEXT_PUBLIC_GDF_FEATURE_FLAGS" but replaces selected feature flag
# only in development mode.
NEXT_PUBLIC_GDF_DEV_FEATURE_FLAGS="!*"

