@use "../../styles/core.module.scss" as core;

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: core.getDimensionValue(1);
    outline: none;
    border: core.$size-border-default solid;
    cursor: pointer;
    font-weight: 600;
    padding: core.getDimensionValue(1);
    transition:
        border 250ms ease-in-out,
        border-color 250ms ease-in-out,
        border-width 250ms ease-in-out,
        background-color 250ms ease-in-out,
        color 250ms ease-in-out,
        transform 100ms ease-in-out;

    .segment {
        display: flex;
        justify-content: center;
        align-items: center;
        height: core.getDimensionValue(2);
        width: core.getDimensionValue(2);

        svg {
            height: core.getDimensionValue(2);
            width: core.getDimensionValue(2);
        }
    }

    .label {
        color: inherit;
    }

    &:not(:disabled):not(.noActiveAnimation):active {
        transform: translateY(core.getDimensionValue(0.125));
    }

    &.inline {
        display: inline-flex;
    }

    &.fullWidth {}

    &.round {
        border-radius: 64px;
    }

    &:disabled {
        cursor: auto;
    }

    &[data-variant="contained"],
    &.containedHover:hover {
        &[data-theme="primary"] {
            background-color: core.$color-primary;
            border-color: core.$color-primary;
            color: core.$color-primary-font;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-primary-highlighted;
                border-color: core.$color-primary-highlighted;
                color: core.$color-primary-font-highlighted;
            }

            &.fontColor {
                background-color: core.$color-primary-font;
                border-color: core.$color-primary-font;
                color: core.$color-primary;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: core.$color-primary-font-highlighted;
                    border-color: core.$color-primary-font-highlighted;
                    color: core.$color-primary-highlighted;
                }
            }
        }

        &[data-theme="secondary"] {
            --gradient-degree: 20deg;

            background: linear-gradient(20deg, core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            background: linear-gradient(var(--gradient-degree), core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            border-color: transparent;
            color: core.$color-secondary-font;
            transition: --gradient-degree core.$gradient-static-transition-time ease-in-out;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                --gradient-degree: 170deg;

                background: linear-gradient(170deg, core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
                background: linear-gradient(var(--gradient-degree), core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
                border-color: transparent;
                color: core.$color-secondary-font;
            }

            &.fontColor {
                background: core.$color-secondary-font;
                border-color: core.$color-secondary;
                color: core.$color-secondary;

                .label {
                    transition: text-shadow 250ms ease-in-out;
                    text-shadow: core.$color-secondary-highlighted 0.05rem 0.05rem;
                }

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    animation: none;
                    background: core.$color-secondary-font-highlighted;
                    border-color: core.$color-secondary-highlighted;
                    color: core.$color-secondary-highlighted;

                    .label {
                        text-shadow: core.$color-secondary 0.05rem 0.05rem;
                    }
                }
            }
        }

        &[data-theme="accent"] {
            background-color: core.$color-accent;
            border-color: core.$color-accent;
            color: core.$color-accent-font;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-accent-highlighted;
                border-color: core.$color-accent-highlighted;
                color: core.$color-accent-font-highlighted;
            }

            &.fontColor {
                background-color: core.$color-accent-font;
                border-color: core.$color-accent-font;
                color: core.$color-accent;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: core.$color-accent-font-highlighted;
                    border-color: core.$color-accent-font-highlighted;
                    color: core.$color-accent-highlighted;
                }
            }
        }
    }

    &[data-variant="outlined"] {
        &[data-theme="primary"] {
            background-color: transparent;
            border-color: core.$color-primary;
            color: core.$color-primary;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-primary;
                border-color: core.$color-primary-font;
                color: core.$color-primary-font;
            }

            &.fontColor {
                color: core.$color-primary-font;
                background-color: transparent;
                border-color: core.$color-primary-font;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: core.$color-primary-font-highlighted;
                    border-color: core.$color-primary-highlighted;
                    color: core.$color-primary-highlighted;
                }
            }
        }

        &[data-theme="secondary"] {
            background-color: transparent;
            border-color: core.$color-secondary;
            color: core.$color-secondary;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-secondary;
                border-color: core.$color-secondary-font;
                color: core.$color-secondary-font;
            }

            &.fontColor {
                color: core.$color-secondary-font;
                background-color: transparent;
                border-color: core.$color-secondary-font;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: core.$color-secondary-font-highlighted;
                    border-color: core.$color-secondary-highlighted;
                    color: core.$color-secondary-highlighted;
                }
            }
        }

        &[data-theme="accent"] {
            background-color: transparent;
            border-color: core.$color-accent;
            color: core.$color-accent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-accent;
                border-color: core.$color-accent-font;
                color: core.$color-accent-font;
            }

            &.fontColor {
                color: core.$color-accent-font;
                background-color: transparent;
                border-color: core.$color-accent-font;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: core.$color-accent-font-highlighted;
                    border-color: core.$color-accent-highlighted;
                    color: core.$color-accent-highlighted;
                }
            }
        }
    }

    &[data-variant="text"] {
        &:not(.containedHover) {
            border: none;
            padding: 0;

            &:hover {
                text-decoration: underline;
            }
        }

        &[data-theme="primary"] {
            background-color: transparent;
            color: core.$color-primary;
            border-color: transparent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: transparent;
                border-color: core.$color-primary-highlighted;
                color: core.$color-primary-highlighted;
            }

            &.fontColor {
                background-color: transparent;
                color: core.$color-primary-font;
                border-color: transparent;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: transparent;
                    border-color: core.$color-primary-font-highlighted;
                    color: core.$color-primary-font-highlighted;
                }
            }
        }

        &[data-theme="secondary"] {
            background-color: transparent;
            color: core.$color-secondary;
            border-color: transparent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: transparent;
                border-color: core.$color-secondary-highlighted;
                color: core.$color-secondary-highlighted;
            }

            &.fontColor {
                background-color: transparent;
                color: core.$color-secondary-font;
                border-color: transparent;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: transparent;
                    border-color: core.$color-secondary-font-highlighted;
                    color: core.$color-secondary-font-highlighted;
                }
            }
        }

        &[data-theme="accent"] {
            background-color: transparent;
            color: core.$color-accent;
            border-color: transparent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: transparent;
                border-color: core.$color-accent-highlighted;
                color: core.$color-accent-highlighted;
            }

            &.fontColor {
                background-color: transparent;
                color: core.$color-accent-font;
                border-color: transparent;

                &:not(:disabled):hover,
                &:not(.noFocusColor):not(:disabled):focus {
                    background-color: transparent;
                    border-color: core.$color-accent-font-highlighted;
                    color: core.$color-accent-font-highlighted;
                }
            }
        }
    }
}
