@use "../../styles/core.module.scss" as core;

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: core.getDimensionValue(1);
    outline: none;
    border: core.$size-border-default solid;
    cursor: pointer;
    font-weight: 600;
    padding: core.getDimensionValue(1);
    transition: border 250ms ease-in-out, background-color 250ms ease-in-out,
        color 250ms ease-in-out, transform 100ms ease-in-out;

    .segment {
        height: core.getDimensionValue(2);
        width: core.getDimensionValue(2);

        svg {
            height: 100%;
            width: 100%;
        }

        &.left {}

        &.right {}
    }

    .label {
        color: inherit;
    }

    &:not(:disabled):not(.noActiveAnimation):active {
        transform: translateY(core.getDimensionValue(0.125));
    }

    &.round {
        border-radius: 64px;
    }

    &:disabled {
        cursor: auto;
    }

    &[data-variant="contained"],
    &.containedHover:hover {
        &[data-theme="primary"] {
            background-color: core.$color-primary;
            border-color: core.$color-primary;
            color: core.$color-primary-font;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-primary-highlighted;
                border-color: core.$color-primary-highlighted;
                color: core.$color-primary-font-highlighted;
            }
        }

        &[data-theme="secondary"] {
            background-color: core.$color-secondary;
            border-color: core.$color-secondary;
            color: core.$color-secondary-font;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-secondary-highlighted;
                border-color: core.$color-secondary-highlighted;
                color: core.$color-secondary-font-highlighted;
            }
        }

        &[data-theme="accent"] {
            background-color: core.$color-accent;
            border-color: core.$color-accent;
            color: core.$color-accent-font;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-accent-highlighted;
                border-color: core.$color-accent-highlighted;
                color: core.$color-accent-font-highlighted;
            }
        }
    }

    &[data-variant="outlined"] {
        &[data-theme="primary"] {
            color: core.$color-primary;
            background-color: core.$color-primary-font;
            border-color: core.$color-primary;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-primary-font-highlighted;
                border-color: core.$color-primary-highlighted;
                color: core.$color-primary-highlighted;
            }
        }

        &[data-theme="secondary"] {
            color: core.$color-secondary;
            background-color: core.$color-secondary-font;
            border-color: core.$color-secondary;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-secondary-font-highlighted;
                border-color: core.$color-secondary-highlighted;
                color: core.$color-secondary-highlighted;
            }
        }

        &[data-theme="accent"] {
            color: core.$color-accent;
            background-color: core.$color-accent-font;
            border-color: core.$color-accent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-accent-font-highlighted;
                border-color: core.$color-accent-highlighted;
                color: core.$color-accent-highlighted;
            }
        }
    }

    &[data-variant="text"] {
        &[data-theme="primary"] {
            background-color: transparent;
            color: core.$color-primary;
            border-color: transparent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-primary-font-highlighted;
                border-color: core.$color-primary-highlighted;
                color: core.$color-primary-highlighted;
            }
        }

        &[data-theme="secondary"] {
            background-color: transparent;
            color: core.$color-secondary;
            border-color: transparent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-secondary-font-highlighted;
                border-color: core.$color-secondary-highlighted;
                color: core.$color-secondary-highlighted;
            }
        }

        &[data-theme="accent"] {
            background-color: transparent;
            color: core.$color-accent;
            border-color: transparent;

            &:not(:disabled):hover,
            &:not(.noFocusColor):not(:disabled):focus {
                background-color: core.$color-accent-font-highlighted;
                border-color: core.$color-accent-highlighted;
                color: core.$color-accent-highlighted;
            }
        }
    }
}
