@use "../../styles/core.module.scss" as core;

.button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: core.getDimensionValue(1);
}
