@use "../../styles/core.module.scss" as core;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: core.getDimensionValue(0.2) solid core.$color-primary;

    .label {
        background-color: core.$color-primary;
        color: core.$color-primary-font;
        font-size: core.$size-font-label;
        font-weight: 600;
        padding: core.getDimensionValue(0.5);

        &::after {
            content: ":";
        }
    }

    .textAreaContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        min-height: core.getDimensionValue(4);

        .textArea {
            border-radius: 0%;
            border: none;
            flex: 1 1 auto;
            font-size: core.$size-font-default;
            padding: core.getDimensionValue(0.5) core.getDimensionValue(1);
            overflow: auto;
            resize: none;

            &:hover,
            &:active,
            &:focus {
                border: none;
                outline: none;
            }
        }
    }

    &.error {
        border-color: core.$color-secondary;

        .label {
            background-color: core.$color-secondary;
            color: core.$color-secondary-font;
        }

        .textAreaContainer {
            .textArea {
                background-color: core.$color-secondary-font;
                color: core.$color-secondary;
            }
        }
    }
}
