@use "../../styles/core.module.scss" as core;

.flex {
    display: flex;

    &.autoResize {
        flex: 1 1 auto;
    }

    &.transition {
        transition: gap 500ms ease-in-out, row-gap 500ms ease-in-out, column-gap 500ms ease-in-out;
    }

    @media (prefers-reduced-motion) {
        &.transition {
            transition: none;
        }
    }

    &.small {
        max-width: core.$size-breakpoint-small;
        width: 100%;
        margin: 0 auto;
    }

    &.normal {
        max-width: core.$size-breakpoint-normal;
        width: 100%;
        margin: 0 auto;
    }

    &.large {
        max-width: core.$size-breakpoint-large;
        width: 100%;
        margin: 0 auto;
    }
}
