@use "../../styles/core.module.scss" as core;

.container {
    margin: auto;
    font-size: core.$size-font-default;
    height: auto;

    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6 {
        text-align: center;
    }

    @media (min-width: core.$size-breakpoint-small) {

        padding: core.getDimensionValue(2);
    }

    @media (min-width: core.$size-breakpoint-normal) {

        padding: core.getDimensionValue(3);
    }
}
