@use "../../styles/core.module.scss" as core;

.container {
    margin: auto;
    font-size: core.$size-font-default;
    height: auto;

    @media (min-width: core.$size-breakpoint-small) {

        padding: core.getDimensionValue(2);
    }

    @media (min-width: core.$size-breakpoint-normal) {

        padding: core.getDimensionValue(3);
    }

    .titlePaper {

        >h1,
        >h2,
        >h3,
        >h4,
        >h5,
        >h6 {
            &:not(.titleLeftAligned) {
                text-align: center;
            }

            &.titleNoMargin {
                margin: 0;
            }
        }
    }
}
