@use "../../styles/core.module.scss" as core;

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    // gap: core.getDimensionValue(2);
    // grid-template: auto auto auto auto auto auto auto auto auto / auto auto auto;
    width: 100%;

    // This style is for the honeypot text field
    .newPasswordTextField {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }

    .send {
        align-self: center;
    }

    .responseMsg {
        text-align: center;

        &.success {
            color: green;
        }

        &.error {
            color: red;
        }
    }
}
