@use "../../styles/core.module.scss" as core;

.paper {
    width: 100%;

    &.small {
        max-width: core.$size-breakpoint-small;
    }

    &.normal {
        max-width: core.$size-breakpoint-normal;
    }

    &.large {
        max-width: core.$size-breakpoint-large;

        @media (min-width: core.$size-breakpoint-small) {
            width: core.$size-breakpoint-small;
        }

        @media (min-width: core.$size-breakpoint-normal) {
            width: core.$size-breakpoint-normal;
        }

        @media (min-width: core.$size-breakpoint-large) {
            width: core.$size-breakpoint-large;
        }
    }

    &:not(.noBackgroundColor) {
        background-color: core.$color-default;
        color: core.$color-default-font;

        &.primary {
            background-color: core.$color-primary;
            color: core.$color-primary-font;
        }

        &.secondary {
            background-color: core.$color-secondary;
            color: core.$color-secondary-font;
        }

        &.accent {
            background-color: core.$color-accent;
            color: core.$color-accent-font;
        }
    }
}
