@use "../../../styles/core.module.scss" as core;

.accordion {
    transition: margin-top 250ms ease-in-out, margin-bottom 250ms ease-in-out;

    >summary {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: core.getDimensionValue(2);
        cursor: pointer;
        font-weight: 400;
        list-style: none;
        padding: core.getDimensionValue(1);
        transition: font-weight 250ms ease-in-out;

        .icon {
            display: flex;
            justify-content: center;
        }
    }

    .detailsContent {
        overflow: clip;

        * {
            margin: 0;
        }
    }

    &.open {
        margin-top: core.getDimensionValue(1);
        margin-bottom: core.getDimensionValue(2);
    }

    &[open] {
        summary {
            font-weight: 700;
        }
    }

    summary,
    & {
        font-weight: initial;
    }

    &[data-theme="primary"] {
        background: core.$color-primary;
        color: core.$color-primary-font;

        summary {
            &:hover {
                background: core.$color-primary-highlighted;
                color: core.$color-primary-font-highlighted;
            }
        }

        .detailsContent {
            background: core.$color-primary-faded;
            color: core.$color-primary-font-faded;
        }

        &[open] {
            color: core.$color-primary-font-highlighted;
        }
    }

    &[data-theme="secondary"] {
        summary {
            --gradient-degree: 45deg;

            background: linear-gradient(45deg, core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            background: linear-gradient(var(--gradient-degree), core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            color: core.$color-secondary-font;
            transition: --gradient-degree core.$gradient-static-transition-time ease-in-out;

            &:hover {
                --gradient-degree: 170deg;

                background: linear-gradient(170deg, core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
                background: linear-gradient(var(--gradient-degree), core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
                color: core.$color-secondary-font-highlighted;
            }
        }

        .detailsContent {
            background: core.$color-secondary-faded;
            color: core.$color-secondary-font-faded;
        }

        &[open] {
            color: core.$color-secondary-font-highlighted;
        }
    }

    &[data-theme="accent"] {
        background: core.$color-accent-faded;
        color: core.$color-accent-font-faded;

        summary {
            &:hover {
                background: core.$color-accent-highlighted;
                color: core.$color-accent-font-highlighted;
            }
        }

        .detailsContent {
            background: core.$color-accent-faded;
            color: core.$color-accent-font-faded;
        }

        &[open] {
            color: core.$color-accent-highlighted;
        }
    }
}
