@use "../../../styles/core.module.scss" as core;

.player {
    display: grid;
    grid-template: auto repeat(2, 1fr) / repeat(4, 1fr);
    padding: core.getDimensionValue(1);
    gap: core.getDimensionValue(2);

    .labels {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr auto;
        gap: core.getDimensionValue(0.5);
        padding: core.getDimensionValue(1);
        grid-column: 1 / 5;
        grid-row: 1 / 2;

        .title {
            font-size: core.$size-font-subheader;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .performer {
            font-size: core.$size-font-default;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .album {
            font-size: core.$size-font-default;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            text-align: right;
        }
    }

    .timeSliderContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        grid-column: 1 / 5;
        grid-row: 2 / 3;

        .timeSlider {
            flex: 1 1 auto;
        }

        .timeCodeContainer {
            margin-left: core.getDimensionValue(2);
            text-align: center;
            width: auto;

            .timeCode {
                font-weight: 600;
            }
        }
    }

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: core.getDimensionValue(0.5);
        grid-column: 1 / 5;
        grid-row: 3 / 4;

        .loaderButton {
            padding: core.getDimensionValue(0.5);

            .loader {
                height: core.getDimensionValue(3);
                width: core.getDimensionValue(3);
            }
        }

        .volumeSlider {
            width: core.getDimensionValue(12);

            &.primary {
                background-color: core.$color-primary-font;
                color: core.$color-primary;
            }

            &.secondary {
                background-color: core.$color-secondary;
                color: core.$color-secondary-font;
            }

            &.accent {
                background-color: core.$color-accent;
                color: core.$color-accent-font;
            }
        }
    }

    &.primary {
        background-color: core.$color-primary;
        color: core.$color-primary-font;
    }

    &.secondary {
        background-color: core.$color-secondary;
        color: core.$color-secondary-font;
    }

    &.accent {
        background-color: core.$color-accent;
        color: core.$color-accent-font;
    }

    @media (min-width: core.$size-breakpoint-small) {
        // .labels {
        //     grid-template: repeat(2, 1fr) / 1fr auto;

        //     .title {
        //         grid-column: 1 / 2;
        //         grid-row: 1 / 2;
        //     }

        //     .albumLabel {
        //         font-size: core.$size-font-label;
        //         display: block;
        //         grid-column: 2 / 3;
        //         grid-row: 1 / 2;
        //     }

        //     .album {
        //         font-size: core.$size-font-default;
        //         grid-column: 2 / 3;
        //         grid-row: 2 / 3;
        //         text-align: right;
        //     }
        // }

        .timeSliderContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .timeCodeContainer {
                text-align: center;
                width: core.getDimensionValue(18);
            }
        }
    }
}
