$color-default: hsl(0, 0%, 98%);
$color-default-highlighted: hsl(0, 0%, 86%);
$color-default-font: hsl(0, 0%, 20%);
$color-default-font-highlighted: hsl(0, 0%, 25%);

$color-accent: hsl(0, 0%, 20%);
$color-accent-highlighted: hsl(0, 0%, 25%);
$color-accent-faded: hsl(0, 0%, 80%);
$color-accent-font: hsl(0, 0%, 88%);
$color-accent-font-highlighted: hsl(0, 0%, 98%);
$color-accent-font-faded: hsl(0, 0%, 20%);

$color-primary: hsl(180, 100%, 25%);
$color-primary-highlighted: hsl(180, 100%, 30%);
$color-primary-faded: hsl(180, 33%, 70%);
$color-primary-font: hsl(0, 100%, 98%);
$color-primary-font-highlighted: hsl(0, 100%, 98%);
$color-primary-font-faded: hsl(0, 0%, 20%);

$color-secondary: hsl(17, 70%, 56%);
$color-secondary-highlighted: hsl(17, 70%, 61%);
$color-secondary-faded: hsl(17, 60%, 80%);
$color-secondary-font: hsl(0, 100%, 94%);
$color-secondary-font-highlighted: hsl(0, 100%, 94%);
$color-secondary-font-faded: hsl(0, 0%, 20%);

@function getDimensionValue($baseValue) {
    @return ($baseValue * 8px);
}

$size-breakpoint-tiny: 430px;
$size-breakpoint-small: 680px;
$size-breakpoint-normal: 980px;
$size-breakpoint-large: 1280px;

$size-border-default: 1px;

$size-font-label: 0.8rem;
$size-font-default: 1rem;
$size-font-action: 1.2rem;
$size-font-subheader: 1.1rem;
$size-font-header: 1.5rem;
$size-font-title: 2rem;
