@use "./core.module" as core;

html {
    height: 100dvh;
    max-height: 100dvh;
    width: 100dvw;
    background: linear-gradient(core.$color-accent, core.$color-accent-faded);
    // position: fixed;
    // top: 0;
    // bottom: 0;
    overflow: clip;

    body {
        min-height: 100dvh;
        height: auto;
        // height: 100dvh;
        width: 100%;
        overflow: auto;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    // min-height: 100dvh;
    // height: 100dvh;
    // width: 100%;
    // background-image: url(../media/background.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background: transparent;
    // overflow: clip;
    line-height: 1.5;

    --color-default: #{core.$color-default};
    --color-default-highlighted: #{core.$color-default-highlighted};
    --color-default-font: #{core.$color-default-font};
    --color-default-font-highlighted: #{core.$color-default-font-highlighted};
    --color-accent: #{core.$color-accent};
    --color-accent-highlighted: #{core.$color-accent-highlighted};
    --color-accent-faded: #{core.$color-accent-faded};
    --color-accent-font: #{core.$color-accent-font};
    --color-accent-font-highlighted: #{core.$color-accent-font-highlighted};
    --color-accent-font-faded: #{core.$color-accent-font-faded};
    --color-primary: #{core.$color-primary};
    --color-primary-highlighted: #{core.$color-primary-highlighted};
    --color-primary-faded: #{core.$color-primary-faded};
    --color-primary-font: #{core.$color-primary-font};
    --color-primary-font-highlighted: #{core.$color-primary-font-highlighted};
    --color-primary-font-faded: #{core.$color-primary-font-faded};
    --color-secondary: #{core.$color-secondary};
    --color-secondary-highlighted: #{core.$color-secondary-highlighted};
    --color-secondary-faded: #{core.$color-secondary-faded};
    --color-secondary-font: #{core.$color-secondary-font};
    --color-secondary-font-highlighted: #{core.$color-secondary-font-highlighted};
    --color-secondary-font-faded: #{core.$color-secondary-font-faded};

    --size-font-label: 1rem;
    --size-font-default: 1.2rem;
    --size-font-action: 1.5rem;
    --size-font-subheader: 1.8rem;
    --size-font-header: 2rem;
    --size-font-title: 2.2rem;
    --size-font-hero: 2.5rem;
    --size-font-hero-title: 3.5rem;

    @media (min-width: core.$size-breakpoint-small) {
        --size-font-label: 1rem;
        --size-font-default: 1.2rem;
        --size-font-action: 1.5rem;
        --size-font-subheader: 2rem;
        --size-font-header: 2.2rem;
        --size-font-title: 2.5rem;
        --size-font-hero: 3rem;
        --size-font-hero-title: 4rem;
    }

    @media (min-width: core.$size-breakpoint-normal) {
        --size-font-label: 1rem;
        --size-font-default: 1.2rem;
        --size-font-action: 1.5rem;
        --size-font-subheader: 2rem;
        --size-font-header: 2.5rem;
        --size-font-title: 2.8rem;
        --size-font-hero: 4.5rem;
        --size-font-hero-title: 6rem;
    }

    @media (min-width: core.$size-breakpoint-large) {
        --size-font-title: 3rem;
        --size-font-hero: 6rem;
        --size-font-hero-title: 8rem;
    }

    a {
        color: core.$color-primary;
        text-decoration: underline;

        &:visited {
            color: core.$color-primary;
        }

        &:focus,
        &:active {
            color: core.$color-primary-highlighted;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: core.$color-primary-highlighted;
            }
        }
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }

    h1 {
        font-size: core.$size-font-title;
    }

    h2 {
        font-size: core.$size-font-header;
    }

    h3 {
        font-size: core.$size-font-subheader;
    }

    h4 {
        font-size: core.$size-font-action;
        font-weight: normal;
    }

    h5 {
        color: core.$color-primary-highlighted;
        font-size: core.$size-font-default;
        font-weight: normal;
    }

    h6 {
        color: core.$color-primary-highlighted;
        font-size: core.$size-font-label;
        font-weight: normal;
    }

    // @media (min-width: core.$size-breakpoint-normal) {
    //     background-position-y: -200px;
    // }
}

// body {
//     height: 100dvh;
//     width: 100dvw;
// }

*,
*::before,
*::after {
    box-sizing: border-box;
}
