@use "../../../styles/core.module.scss" as core;

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: core.$color-primary;
    color: core.$color-primary-font;
    border-bottom: core.getDimensionValue(0.1) solid core.$color-primary;
    gap: 0 core.getDimensionValue(2);
    padding: 0 core.getDimensionValue(2);

    .icon {
        height: core.getDimensionValue(4);
        margin: core.getDimensionValue(1) 0;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .titleSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        flex: 1 1 auto;
        align-self: center;
        padding: core.getDimensionValue(1) 0;

        .title {
            font-size: core.$size-font-subheader;
            font-weight: 500;
        }

        .subTitle {
            font-size: core.$size-font-default;

            &.noSubTitle {
                display: none;
            }
        }
    }

    .action {
        background-color: core.$color-primary-font;
        color: core.$color-primary;
        height: core.getDimensionValue(6);
        width: core.getDimensionValue(6);
    }
}
