@use "../../../styles/core.module.scss" as core;

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: core.getDimensionValue(0.1) solid core.$color-primary;
    background-color: core.$color-primary;
    color: inherit;
    // gap: 0 core.getDimensionValue(2);
    // padding: 0 core.getDimensionValue(1);

    .titleSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 100%;
        flex: 1 1 auto;
        align-self: center;
        padding: core.getDimensionValue(1);
        color: core.$color-primary-font;

        .title {
            font-size: core.$size-font-subheader;
            font-weight: 500;
            margin: 0;
        }

        .subTitle {
            font-size: core.$size-font-default;
            margin: 0;

            &.noSubTitle {
                display: none;
            }
        }
    }

    .action {
        height: core.getDimensionValue(8);
        width: core.getDimensionValue(8);
        padding: core.getDimensionValue(2.5);

        svg {
            // color: inherit;
            height: 100%;
            width: 100%;
        }
    }
}
