@use "../../../styles/core.module.scss" as core;

.cell {
    &.isPlayingMedia {
        background-color: core.$color-primary;
        color: core.$color-primary-font;

        &.highlighted {
            background-color: core.$color-primary-faded;
            color: core.$color-primary-font-faded;
        }
    }

    &.highlighted {
        background-color: core.$color-accent-faded;
        color: core.$color-accent-font-faded;
    }

    padding: core.getDimensionValue(1);

    &.title {
    }

    &.speaker {
    }

    &.playButton {
    }
}
