@use "../../../styles/core.module.scss" as core;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: core.getDimensionValue(2);
    // flex: 1 1 auto;
    // overflow: hidden;

    .listContainer {
        margin: auto;
        padding: 0 core.getDimensionValue(3);
        width: 100%;
    }

    .pagination {
        margin: core.getDimensionValue(3) 0;
    }

    .mediaPlayer {
        width: 100%;
    }
}
