@use "../../../styles/core.module.scss" as core;

.cell {
    padding: core.getDimensionValue(1);

    &.titleCell {
    }

    &.speakerCell {
    }

    &.playButtonCell {
        .playButton {
            &:not(:disabled):hover,
            &:not(:disabled):focus {
                background-color: core.$color-accent;
                border-color: core.$color-accent;
                color: core.$color-accent-font;
            }
        }
    }

    &.highlighted {
        background-color: core.$color-accent-faded;
        color: core.$color-accent-font-faded;

        .playButton {
            background-color: core.$color-accent-faded;
            border-color: core.$color-accent-faded;
            color: core.$color-accent-font-faded;

            &:not(:disabled):hover,
            &:not(:disabled):focus {
                background-color: core.$color-accent;
                border-color: core.$color-accent;
                color: core.$color-accent-faded;
            }
        }
    }

    &.isPlayingMedia {
        background-color: core.$color-primary;
        color: core.$color-primary-font;

        &.playButtonCell {
            .playButton {
                background-color: core.$color-primary;
                border-color: core.$color-primary;
                color: core.$color-primary-font;

                &:not(:disabled):hover,
                &:not(:disabled):focus {
                    background-color: core.$color-primary-font;
                    border-color: core.$color-primary-font;
                    color: core.$color-primary;
                }
            }
        }
    }
}
