@use "../../../styles/core.module.scss" as core;

.sermonsTableContainer {
    border: core.$size-border-default solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    width: 100%;
    max-width: core.$size-breakpoint-normal;
    position: relative;

    thead {

        tr {

            th {
                text-align: start;
                padding: core.getDimensionValue(1);
                position: sticky;
                top: 64px;
                width: auto;

                &.title {
                    max-width: core.getDimensionValue(20);
                }

                &.speaker {
                    max-width: core.getDimensionValue(25);
                }

                &.date {
                    max-width: core.getDimensionValue(15);
                }

                &.playAudio {
                    max-width: core.getDimensionValue(15);
                    text-align: center;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;
                white-space: nowrap;
            }
        }
    }

    &.primary {
        border-color: core.$color-primary-font;

        thead {
            tr {
                th {
                    background-color: core.$color-primary;
                    color: core.$color-primary-font;
                }
            }
        }
    }

    &.secondary {
        border-color: core.$color-secondary-font;

        thead {
            tr {
                th {
                    background-color: core.$color-secondary;
                    color: core.$color-secondary-font;
                }
            }
        }
    }

    &.accent {
        border-color: core.$color-accent-font;

        thead {
            tr {
                th {
                    background-color: core.$color-accent;
                    color: core.$color-accent-font;
                }
            }
        }
    }

    .loadingCell {
        column-span: all;
    }
}
