@use "../../../styles/core.module.scss" as core;

.contactDetails {
    display: grid;
    grid-template: auto auto / auto 1fr;
    column-gap: core.getDimensionValue(2);

    .iconCell {
        grid-column: 1 / 2;
    }

    .headerCell {
        grid-column: 2 / 3;
    }

    .contentCell {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}
