@use "../styles/core.module.scss" as core;

.paper {
    font-size: core.$size-font-default;
    padding: core.getDimensionValue(6);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // max-width: core.$size-breakpoint-small;
        margin: 0;
        margin-bottom: core.getDimensionValue(4);
    }

    h2 {
        font-size: core.$size-font-title;
        // margin-bottom: 0;
        text-align: center;
    }

    h3 {
        font-size: core.$size-font-header;
        text-align: center;
    }

    p {
        font-size: inherit;
        max-width: core.$size-breakpoint-small;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background: transparent;
    color: core.$color-accent-font;
    margin: 0;
    width: 100%;
    // background-image: url("../media/Aufmacher.jpg");
    // background-position: 50%;
    // background-repeat: no-repeat;
    // background-clip: text;
    // color: transparent;

    .heroTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: core.$size-font-hero;
        font-weight: 200;
        line-height: 1.5;
        text-align: center;
        margin: core.$size-font-title;
        // background-image: url(../media/background.jpg);
        // background-repeat: no-repeat;
        // background-size: cover;

        .highlighted {
            color: core.$color-accent-font;
            font-size: core.$size-font-hero-title;
            font-weight: bold;
            line-height: 1.2;
        }
    }

    .scrollDownButton {
        color: core.$color-accent-font;
        outline: none;
        margin-top: core.$size-font-title;
        height: core.$size-font-hero;
        width: core.$size-font-hero;
        transition: color 250ms;

        svg {
            height: 100%;
            width: 100%;
        }

        &:focus {
            color: core.$color-accent-highlighted;
        }

        &:hover {
            cursor: pointer;
            color: core.$color-accent;
        }
    }
}

.quickLink {
    font-size: core.$size-font-action;
    font-weight: 300;
    padding: core.getDimensionValue(2) core.getDimensionValue(4);
}

.bannerImg {
    max-width: 100%;
    height: auto;
    width: auto;
}

.cardList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: core.getDimensionValue(4);
    padding: 0;
    margin: 0;
    font-size: core.$size-font-action;
    list-style: none;

    a {
        text-decoration: none;
    }

    @media (min-width: core.$size-breakpoint-small) {
        flex-direction: row;
        align-items: flex-start;
        gap: core.getDimensionValue(8);
    }
}
