@use "../styles/core.module.scss" as core;

.paper {
    padding: core.getDimensionValue(6);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // max-width: core.$size-breakpoint-small;
        margin: 0;
        margin-bottom: core.getDimensionValue(2);
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: core.$size-font-header;
    }

    p {
        font-size: 1.5rem;
        // text-align: center;
        max-width: core.$size-breakpoint-small;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    // background-color: transparentize(core.$color-accent, 0.5);
    color: core.$color-accent-font;
    margin: 0;
    width: 100%;
    // background-image: url("../media/Aufmacher.jpg");
    // background-position: 50%;
    // background-repeat: no-repeat;
    // background-clip: text;
    // color: transparent;

    .heroTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 200;
        line-height: 2;
        text-align: center;
        // background-image: url(../media/background.jpg);
        // background-repeat: no-repeat;
        // background-size: cover;

        .highlighted {
            color: core.$color-accent-font;
            font-size: 3rem;
            font-weight: bold;
            line-height: 1.2;
        }

        @media (min-width: core.$size-breakpoint-small) {
            font-size: 3rem;

            .highlighted {
                font-size: 4rem;
            }
        }

        @media (min-width: core.$size-breakpoint-normal) {
            font-size: 4rem;

            .highlighted {
                font-size: 6rem;
            }
        }

        @media (min-width: core.$size-breakpoint-large) {
            font-size: 6rem;

            .highlighted {
                font-size: 8rem;
            }
        }
    }

    .scrollDownButton {
        color: core.$color-accent-font;
        outline: none;
        margin-top: 3rem;
        height: 3rem;
        width: 3rem;
        transition: color 250ms;

        svg {
            height: 100%;
            width: 100%;
        }

        &:focus {
            color: core.$color-accent-highlighted;
        }

        &:hover {
            cursor: pointer;
            color: core.$color-accent;
        }
    }
}

.bannerImg {
    max-width: 100%;
    height: auto;
    width: auto;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: core.getDimensionValue(8);
    padding: 0;
    margin: 0;
    font-size: core.$size-font-title;
    list-style: none;

    a {
        text-decoration: none;
    }
}
