html, body {
  padding: 0;
  color: #7F7F7F;
  background-color: #FFFFFF;
  background-image: url('https://picsum.photos/1920/1080');
  background-size: cover;
  background-attachment: fixed;
}

ul,li {
  margin: 0px 2px;
}

* {
    box-sizing: border-box;
}


#wrapper {
  background-color: #EFEFEF;
  color: #7F7F7F;
  margin: 24px auto;
  padding: -48px;
  margin-bottom: 48px;
  width: 85%;
  /* border-radius: 12px; */
  box-shadow: 0px 2px 3px 3px #7F7F7F;
  -webkit-box-shadow: 0px 2px 8px 5px #7F7F7F; /* WebKit */
  -moz-box-shadow: 0px 2px 8px 5px #7F7F7F; /* Firefox */

}
/* oben*/
div#top {
  margin: 0 auto;
  padding: 0;
  height: 0px;
}


header {
  padding: 0;
  color: #FFFFFF;
  height: 100px;
  background-color: #0E90E0;
  background-image: url('https://images-ext-1.discordapp.net/external/4CwQHzJK6yARo8_iU770VxWlQt7aj0TxJ7xS0g95LY4/%3Fcrop%3Dfaces%252Cedges%26cs%3Dtinysrgb%26fit%3Dcrop%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjgyNDUwNTM4%26ixlib%3Drb-4.0.3%26q%3D60%26w%3D1200%26auto%3Dformat%26h%3D630%26mark-w%3D64%26mark-align%3Dtop%252Cleft%26mark-pad%3D50%26blend-mode%3Dnormal%26blend-alpha%3D10%26blend-w%3D1%26mark%3Dhttps%253A%252F%252Fimages.unsplash.com%252Fopengraph%252Flogo.png%26blend%3D000000/https/images.unsplash.com/photo-1608686194388-82d9db9d1fc6?width=1160&height=609');
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.9);
  box-shadow: 0px 0px 2px 4px #000000;
  /* !-webkit-box-shadow: 0px 2px 5px 5px #7F7F7F; /* WebKit */
  /* !-moz-box-shadow: 0px 2px 5px 5px #7F7F7F; Firefox */

  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.headertextbig {
  font-size: 2em;
  font-family: "Arial";
  letter-spacing: 1px;
  padding-top: 30px;
  padding-right: 15px;
  text-shadow: 1px 1px 2px #303030;
  text-align: right;
  font-weight: bold;
  font-style:italic;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.headerlogo {
  font-size: 2em;
  font-family: "Open Sans";
  padding-left: 30px;
  text-shadow: 1px 1px 2px #303030;
  text-align: left;
  
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.headertextsmall {
  font-size: 1em;
  font-family: "Arial";
  letter-spacing: 2px;
  padding-top: 5px;
  padding-right: 15px;
  text-shadow: 1px 1px 2px #303030;
  text-align: right;
  font-weight: bold;

  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.headernav {
  color: #44bcd8;
  background-color: inherit;
  font-family: arial;
  font-style: italic;
  /* !padding: 10px 15px 15px; */
  font-size: 1.188em;
  text-align: right;

  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

/* Hauptteil*/
main {
  padding: 0;
  margin: 0 auto;
  display: block;  /*wegen Fehldarstellung IE*/
}

#main-inner {
  margin: 0 auto;
  padding: 2% 0 0 0;
}
/* Navigation links*/
aside {
  width: 25%;
  float: left;
  padding: 0;
  margin: 0;
}

aside h2 {
  color: #005A87;
  font-family: Pacifico,cursive,"century gothic",georgia,calibri,serif;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  margin: 5px 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #375229;
}
nav {
  list-style-type:none;
  padding: 0px;
  margin: 0px;
  font-size: 0.938em;
  text-align: left;
  background-color: transparent;
}

nav ul {
  list-style-type:none;
  padding: 0;
  margin: 10px 0;
}

nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul a:link,
nav ul a:visited,
nav ul a:active {
  color: #6F6F6F;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  display: block;
  border-bottom: 1px dashed #999999;
}

nav ul a:hover,
nav ul a:focus {
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #0090E0;
}
/* Inhalt*/
article {
  margin-left: 27%;
  padding: 10px 0;
  font-size: 1em;
  font-weight: normal;
  text-align: justify;
  line-height: 2em;
}
article h1 {
  font-size: 2em;
  margin: 3px 0;
  color: #005A87;
  font-family: Pacifico,"century gothic",georgia,calibri,serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #7F7F7F;
}
article h2 {
  color: #7F7F7F;
  background-color: inherit;
  font-family: Pacifico,"century gothic",georgia,calibri,serif;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: left;
  margin: 3px;
  padding: 2px;
  text-shadow: 1px 1px 2px #7F7F7F;
}
article h3 {
  color: #78AEFF;
  background-color: inherit;
  font-family: Pacifico,"century gothic",georgia,calibri,serif;
  font-size: 1.375em;
  letter-spacing: 2px;
  font-style: italic;
  padding-left: 5px;
  font-weight: normal;
  text-shadow: 1px 1px 2px #7F7F7F;
}
article h4 {
  color: #ffffff;
  background-color: #78AEFF;
  font-size: 1.313em;
  font-weight: bold;
  margin: 20px 0;
  padding: 2px;
  font-family: Pacifico,"century gothic",georgia,calibri,serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #3F3F3F;
  text-align: center;
}
article h5 {
  color: #3F3F3F;
  background-color: inherit;
  font-family: Pacifico,"century gothic",georgia,calibri,serif;
  font-size: 1em;
  font-weight: bold;
  margin: 2px;
  letter-spacing: 2px;
  padding: 0;
  text-shadow: 1px 1px 2px #3F3F3F;
}

article p {
  margin: 8px 2px;
}
 /*unten*/

footer {
  margin: 0 auto 10px auto;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #0090E0;
  box-shadow: 0px 2px 5px 5px #7F7F7F;
  -webkit-box-shadow: 0px 2px 5px 5px #7F7F7F; /* WebKit */
  -moz-box-shadow: 0px 2px 5px 5px #7F7F7F; /* Firefox */
}

.fussinhalt  {
  padding: 10px;
  font-size: 1em;
  font-family: "century gothic",calibri,georgia,serif;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: transparent;
}

.footerlink {
  background-color: transparent;
  text-align: center;
  font-size: 0.5rem;
  color: #8F8F8F;
}

/* allgemeine Angaben*/

a:link, a:visited, a:active {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
a:hover {
  color: #ffffff;
  background-color: #005A87;
  text-decoration: none;
}


/******************Besonderheiten f�r Bildschirmgroesse max. 768px**********************/

@media (max-width: 768px) {


#topnavi {
  float: none;
  text-align: center;
  margin-top: 2px;
  padding-top: 0;
}

aside {
  float: none;
  width: 100%;
}

article {
 margin: 0;
 width: 100%;
}

div#footerinnerbox1 {
  letter-spacing: 1px;
  margin: 0 auto;
  float: none;
  width: 90%;
}

div#footerinnerbox2 {
  letter-spacing: 1px;
  margin: 0 auto;
  float: none;
  width: 90%
}

}

/*****************Besonderheiten f�r Bildschirmgroesse max. 640px***********************/

@media (max-width: 640px) {

div#bg1 {
  height: 150px;
}

header {
  height: 150px;
}

.headertextbig {
  padding-top: 10px;
}

aside h2 {
  font-size: 1em;
}

nav {
  font-size: 0.838em;
}

article h1,article h2,article h3,article h4,article h5 {
  font-size: 1em;
}

article {
font-size: 0.875em;
}

.fussinhalt  {
  font-size: 0.75em;
}

}

/*****************Besonderheiten f�r Bildschirmgroesse max. 480px***********************/

@media (max-width: 480px) {

div#bg1 {
  height: 100px;
}

#wrapper {
  width: 100%;
  padding: 0;
  border-radius: 0px;
}

header {
  height: 100px;
}


.headertextsmall {
font-size:0.7em;
}

.headertextbig {
  font-size: 1em;
  padding-top: 10px;
}

.fussinhalt h4 {
 padding: 2px;
 font-size: 0.750em;
}

}