@use "../../../styles/core.module.scss" as core;

.highlighted {
    color: core.$color-secondary;
    font-weight: 600;
}

.valueSection {
    transition: 250ms height ease-in-out;
    min-height: core.$size-breakpoint-tiny;

    .mainValue {

        ul {
            padding-left: core.getDimensionValue(3);
            width: 50%;
            margin: 0;
        }
    }
}
