@use "../../../styles/core.module.scss" as core;

.highlighted {
    color: core.$color-secondary;
    font-weight: 600;
}

.mainValue {

    summary {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: core.getDimensionValue(1);
        cursor: pointer;
        font-weight: 600;
        list-style: none;

        :hover {
            color: core.$color-primary-highlighted;
        }
    }

    * {
        font-weight: initial;
    }

    .mainValueIcon {
        transition: rotate 250ms ease-in-out;
    }

    ul {
        margin: 0;
    }
}
