@use "../../styles/core.module.scss" as core;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loader {
        max-height: 100%;
        max-width: 100%;
    }

    &.primary {
        background-color: transparent;

        .loader {
            span {
                background-color: core.$color-primary !important;
            }
        }

        &.faded {
            .loader {
                span {
                    background-color: core.$color-primary-faded !important;
                }
            }
        }

        &.highlighted {
            .loader {
                span {
                    background-color: core.$color-primary-highlighted !important;
                }
            }
        }

        &.font {
            .loader {
                span {
                    background-color: core.$color-primary-font !important;
                }
            }
        }

        &.fontFaded {
            .loader {
                span {
                    background-color: core.$color-primary-font-faded !important;
                }
            }
        }

        &.fontHighlighted {
            .loader {
                span {
                    background-color: core.$color-primary-font-highlighted !important;
                }
            }
        }
    }

    &.secondary {
        background-color: transparent;

        .loader {
            span {
                background-color: core.$color-secondary !important;
            }
        }

        &.faded {
            .loader {
                span {
                    background-color: core.$color-secondary-faded !important;
                }
            }
        }

        &.highlighted {
            .loader {
                span {
                    background-color: core.$color-secondary-highlighted !important;
                }
            }
        }

        &.font {
            .loader {
                span {
                    background-color: core.$color-secondary-font !important;
                }
            }
        }

        &.fontFaded {
            .loader {
                span {
                    background-color: core.$color-secondary-font-faded !important;
                }
            }
        }

        &.fontHighlighted {
            .loader {
                span {
                    background-color: core.$color-secondary-font-highlighted !important;
                }
            }
        }
    }

    &.accent {
        background-color: transparent;

        .loader {
            span {
                background-color: core.$color-accent !important;
            }
        }

        &.faded {
            .loader {
                span {
                    background-color: core.$color-accent-faded !important;
                }
            }
        }

        &.highlighted {
            .loader {
                span {
                    background-color: core.$color-accent-highlighted !important;
                }
            }
        }

        &.font {
            .loader {
                span {
                    background-color: core.$color-accent-font !important;
                }
            }
        }

        &.fontFaded {
            .loader {
                span {
                    background-color: core.$color-accent-font-faded !important;
                }
            }
        }

        &.fontHighlighted {
            .loader {
                span {
                    background-color: core.$color-accent-font-highlighted !important;
                }
            }
        }
    }
}
