@use "../../styles/core.module.scss" as core;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: inherit;
    border-left: solid core.getDimensionValue(1);
    padding: core.getDimensionValue(1);
    padding-left: core.getDimensionValue(1);

    .verseContainer {
        font-size: inherit;
        margin-bottom: core.getDimensionValue(1);

        .verse {
            color: inherit;
            font-weight: normal;
            font-size: inherit;
            margin: 0;
            display: inline;

            .verseNumber {
                font-weight: 500;
                font-size: inherit;
            }
        }
    }

    .biblePassageLabel {
        align-self: flex-end;
        font-weight: 500;
        font-size: inherit;
        text-align: right;
    }

    .bibleTranslationLabel {
        align-self: flex-end;
        font-weight: 400;
        font-size: 80%;
        line-height: 80%;
    }

    &.condensed {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: 1fr auto;
        column-gap: core.getDimensionValue(1);
        align-items: baseline;
        border-left: solid core.getDimensionValue(1);
        padding: core.getDimensionValue(.5) core.getDimensionValue(1);

        .verseContainer {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            margin-bottom: 0;
        }

        .biblePassageLabel {
            align-self: unset;
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            font-size: 80%;
        }

        .bibleTranslationLabel {
            align-self: unset;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            font-size: 60%;
        }

    }

    &[data-theme="primary"] {
        background-color: core.$color-primary-faded;
        border-left-color: core.$color-primary;
        color: core.$color-primary-font-faded;

        .verseContainer {
            .verseNumber {
                color: core.$color-primary;
            }
        }

        .biblePassageLabel {
            color: core.$color-primary;
        }
    }

    &[data-theme="secondary"] {
        background-color: core.$color-secondary-faded;
        border-left-color: core.$color-secondary;
        color: core.$color-secondary-font-faded;

        .verseContainer {
            .verseNumber {
                color: core.$color-secondary-font-faded;
            }
        }

        .biblePassageLabel {
            color: core.$color-secondary-font-faded;
        }
    }

    &[data-theme="accent"] {
        background-color: core.$color-accent-faded;
        border-left-color: core.$color-accent;
        color: core.$color-accent-font-faded;

        .verseContainer {
            .verseNumber {
                color: core.$color-accent-font-faded;
            }
        }

        .biblePassageLabel {
            color: core.$color-accent-font-faded;
        }
    }
}
