@use "../../styles/core.module.scss" as core;

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: inherit;
    border-left: solid core.getDimensionValue(1);
    padding: core.getDimensionValue(1);
    padding-left: core.getDimensionValue(1);

    .verseList {
        font-size: inherit;
        margin-bottom: core.getDimensionValue(1);

        .verse {
            color: inherit;
            font-weight: normal;
            font-size: inherit;
            margin: 0;
            display: inline;

            .verseNumber {
                font-weight: 500;
                font-size: inherit;
            }
        }
    }

    .biblePassageLabel {
        font-weight: 500;
        font-size: inherit;
        text-align: right;
        align-self: flex-end;
    }

    .bibleTranslationLabel {
        align-self: flex-end;
        font-weight: 400;
        font-size: 80%;
        line-height: 80%;
    }

    &[data-theme="primary"] {
        background-color: core.$color-primary-faded;
        border-left-color: core.$color-primary;
        color: core.$color-primary-font-faded;

        .verseList {
            .verseNumber {
                color: core.$color-primary;
            }
        }

        .biblePassageLabel {
            color: core.$color-primary;
        }
    }

    &[data-theme="secondary"] {
        background-color: core.$color-secondary-faded;
        border-left-color: core.$color-secondary;
        color: core.$color-secondary-font-faded;

        .verseList {
            .verseNumber {
                color: core.$color-secondary-font-faded;
            }
        }

        .biblePassageLabel {
            color: core.$color-secondary-font-faded;
        }
    }

    &[data-theme="accent"] {
        background-color: core.$color-accent-faded;
        border-left-color: core.$color-accent;
        color: core.$color-accent-font-faded;

        .verseList {
            .verseNumber {
                color: core.$color-accent-font-faded;
            }
        }

        .biblePassageLabel {
            color: core.$color-accent-font-faded;
        }
    }
}
