@use "../../../styles/core.module.scss" as core;

.item {
    color: core.$color-primary-font;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: core.$color-primary;
    color: core.$color-primary-font;
    padding: core.getDimensionValue(2) core.getDimensionValue(1.5);
    position: relative;
    user-select: none;
    transition: background 250ms ease-in-out, color 250ms ease-in-out;

    &.isLink {
        cursor: pointer;
    }

    &.needsAuth {
        background-color: core.$color-accent;
        color: core.$color-accent-font;

        &:hover {
            background-color: core.$color-accent-highlighted;
            color: core.$color-accent-font-highlighted;
        }
    }

    .label {
        color: inherit;
        font-family: inherit;
        font-size: core.$size-font-default;
        font-weight: 600;
        text-decoration: none;
    }

    .arrow {
        margin: auto 0 auto core.getDimensionValue(1);
    }

    &:focus,
    &:active,
    &:visited {
        color: core.$color-primary-font;
    }

    &.active {
        color: core.$color-secondary-font;
        background-color: core.$color-secondary;

        &:focus,
        &:active,
        &:visited {
            color: core.$color-secondary-font;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: core.$color-secondary-font;
                background-color: core.$color-secondary-highlighted;
            }
        }
    }

    .subEntries {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background-color: core.$color-primary;
        color: core.$color-primary-font;
        margin: 0;
        padding: 0;
        padding-bottom: core.getDimensionValue(1);
        position: absolute;
        top: 100%;
        right: 0;
        min-width: core.getDimensionValue(30);
        z-index: 1000;
        cursor: auto;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: core.$color-primary-highlighted;
            color: core.$color-primary-font-highlighted;

            .subEntries {
                display: flex;
                border-top: none;
                box-shadow: 0.5rem 0.5rem 0.5rem #000a;
                // box-shadow: 0.5rem 0.5rem core.$color-secondary;
            }
        }
    }
}
