@use "../../../styles/core.module.scss" as core;

.item {
    // color: core.$color-primary-font;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;
    border-top: core.$size-border-default solid core.$color-primary-highlighted;

    .label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: core.$color-primary;
        color: core.$color-primary-font;
        font-family: inherit;
        font-size: core.$size-font-default;
        font-weight: 600;
        padding: core.getDimensionValue(1) core.getDimensionValue(2);
        text-decoration: none;
        flex: 1 1 auto;
        height: 100%;
        transition: transform 100ms ease-in-out;
        outline: none;
        transition: background 250ms ease-in-out;

        &:focus,
        &:active {
            color: core.$color-primary-font-highlighted;
            background: core.$color-primary-highlighted;
        }

        &:active {
            transform: translateY(core.getDimensionValue(0.125));
        }
    }

    .arrow {
        height: 100%;
        min-height: core.getDimensionValue(6);
        width: core.getDimensionValue(6);
        outline: none;

        svg {
            height: core.getDimensionValue(3);
            width: core.getDimensionValue(3);
        }
    }

    &.isButton {
        cursor: pointer;

        .label:hover {
            background-color: core.$color-primary-highlighted;
            color: core.$color-primary-font-highlighted;
        }
    }

    &.noSubEntries {
        min-height: calc(core.getDimensionValue(6) + 1px);
    }

    &.needsAuth {
        color: core.$color-accent-font;
        border-top: core.$size-border-default solid core.$color-primary-highlighted;

        >.label {
            background-color: core.$color-accent;
            color: core.$color-accent-font;

            &:focus,
            &:active,
            &:visited {
                color: core.$color-accent-font;
            }
        }

        &.isButton>.label:hover {
            background: core.$color-accent-highlighted;
            color: core.$color-accent-font-highlighted;
        }
    }

    &.active {
        border-top: core.$size-border-default solid core.$color-primary-highlighted;

        >.label {
            --gradient-degree: 20deg;

            color: core.$color-secondary-font;
            // background-color: core.$color-secondary;
            background: linear-gradient(20deg, core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            background: linear-gradient(var(--gradient-degree), core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            transition: --gradient-degree core.$gradient-static-transition-time ease-in-out;

            &:focus,
            &:active,
            &:visited {
                color: core.$color-secondary-font;
            }
        }

        &.isButton>.label:hover {
            --gradient-degree: 170deg;

            background: linear-gradient(170deg, core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            background: linear-gradient(var(--gradient-degree), core.$color-secondary, core.$color-secondary-highlighted, core.$color-secondary);
            color: core.$color-secondary-font;
        }
    }

    &.subEntriesItem {
        flex-direction: column;
        align-items: stretch;
        border-top: none;
        padding: 0;

        .subEntries {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            margin: 0;
            padding: 0;
            padding-left: core.getDimensionValue(4);
            overflow: hidden;
        }

        &.isButton:hover,
        &.needsAuth:hover {
            background: core.$color-primary;
            color: core.$color-primary-font;
        }
    }
}
